---
title: Home
layout: home
---

{% include about/about.html %}
<a href="https://www.linkedin.com/in/prakash-pyakurel-923701423/" target="_blank">
    LinkedIn
</a>


<div class="project-section">

  <h2>Projects</h2>

  <div class="project-card">
    <h3>Tic-Tac-Toe Game</h3>

    <p>
      A C# Windows Forms Tic-Tac-Toe game created for my college coursework.
    </p>

    <p>
      This project demonstrates C# programming, GUI design, and game logic.
    </p>

    <a href="https://github.com/ppyaku/CSC240-09-01-tik-tak-toe-PP"
       target="_blank">
      View Project
    </a>
  </div>

</div>

{% include essays/essays.html limit=6 %}
